extends layouts/default

block vars
	-
		const page = {
		title: 'Card page',
		class: 'card_page'
		};

block main
	button.card-modal(style="position:relative; z-index:99") вызвать карточку  
	include blocks/_counters
	include blocks/_services_slider
	include blocks/_card
	include blocks/_services
