extends layouts/default

block vars
	-
		const page = {
		title: 'Order page',
		class: 'order_page'
		};

block main
	button.order-modal(style="position:relative; z-index:99") вызвать оформление заказа
	include blocks/_counters
	include blocks/_services_slider
	include blocks/_order
	include blocks/_services