extends layouts/default

block vars
	-
		const page = {
		title: 'Water 1 page',
		class: 'water_mater_1_page'
		};

block main
	include blocks/_banner
	include blocks/_filters
	include blocks/_counters
	include blocks/_services