.form {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  @include mq('tablet') {
    display: block;
    margin-top: 20px;
  }

  &__wrapper {
    background: #9297c4;
    padding: 40px 40px 56px;
    margin-bottom: 44px;

    @include mq('tablet') {
      padding: 24px 16px 32px;
    }
  }

  &__title {
    display: block;
    text-align: center;
    @include font-source-sans(25px, #fff, 750, 37px);
    margin-bottom: 16px;

    @include mq('tablet') {
      @include font-source-sans(20px, #fff, 750, 135%);
      margin-bottom: 12px;
    }
  }

  &__subtitle {
    display: block;
    text-align: center;
    @include font-source-sans(18px, #fff, 600, 24px);

    @include mq('tablet') {
      @include font-source-sans(13px, #fff, 600, 135%);
    }
  }

  &__input {
    width: 35.5%;
    display: block;
    margin-right: 24px;
    appearance: none;
    border: none;
    background-color: #fff;
    min-height: 40px;
    padding: 0 20px;
    border-radius: 3px;
    @include font-source-sans(15px, #000, 450, 20px);

    @include input-placeholder {
      @include font-source-sans(15px, #878e97, 450, 40px);
    }

    @include mq('tablet') {
      width: 100%;

      & + & {
        margin-top: 12px;
      }

      @include input-placeholder {
        @include font-source-sans(13px, #878e97, 450, 135%);
      }
    }
  }

  &__btn {
    display: block;
    min-height: 40px;
    appearance: none;
    background: #fdea40;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    border: none;
    padding: 5px;
    margin: 0;
    @include font-source-sans(15px, #000, 450, 20px);
    width: 23.4%;

    @include mq('tablet') {
      width: 100%;
      margin-top: 24px;
    }
  }
}
