.info {
  margin-bottom: 64px;

  @include mq('tablet') {
    margin-bottom: 32px;
  }

  .title {
    color: #000;
    max-width: 340px;
  }
  p {
    display: block;
    color: #414141;

    @include mq('tablet') {
      @include font-source-sans(13px, #414141, 400, 135%);
    }

    & + p {
      margin-top: 15px;
    }
  }

  h3 {
    display: block;
    margin: 25px 0 15px;
    font-weight: 600;
    text-transform: uppercase;
    @include mq('tablet') {
      @include font-source-sans(13px, #414141, 450, 135%);
    }
  }
}
