.page_title {
  position: relative;
  z-index: 2;
  display: block;
  @include font-source-sans(111px, #fff, 700, 125%);

  &__video-wrapper {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    video {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 98px;

    @include mq('desktop') {
      height: 100%;
      align-items: flex-start;
      padding-top: 80px;
    }
  }

  @media only screen and (max-width: 1700px) {
    @include font-source-sans(90px, #fff, 700, 125%);
  }

  @include mq('desktop') {
    @include font-source-sans(40px, #fff, 700, 125%);
    min-height: 94px;
    text-align: center;
  }

  @include mq('tablet') {
    @include font-source-sans(20px, #fff, 700, 125%);
  }

  &__special {
    position: absolute;
    z-index: 21;
    left: 0;
    bottom: 0;
    background: #fdea40;
    width: 597px;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 34px 41px 52px 36px;
    box-sizing: border-box;
    display: flex;

    @include mq('desktop') {
      position: fixed;
      width: 100%;
      bottom: 30px;
      @include сentering-x;
      padding: 15px 16px 20px;
    }

    &-title {
      display: block;
      font-weight: 700;
      font-size: 25px;
      line-height: 125%;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 23px;

      @include mq('desktop') {
        display: block;
        @include font-source-sans(13px, #000, 750, 135%);
        margin-bottom: 8px;
      }
    }

    &-desc {
      display: block;
      font-weight: 600;
      font-size: 25px;
      line-height: 135%;
      color: #000000;
      max-width: 360px;
      @include mq('desktop') {
        max-width: none;
        @include font-source-sans(13px, #000, 600, 135%);
      }
    }

    &-sileprice {
      display: block;
      position: relative;
      text-align: right;
      font-weight: 450;
      font-size: 20px;
      line-height: 125%;
      text-align: right;
      color: #000000;
      margin-bottom: 12px;

      @include mq('desktop') {
        @include font-source-sans(15px, #000, 450, 135%);
        margin-bottom: 5px;
      }

      &:before {

          @include pseudo;
          width: 42px;
          height: 1px;
          background-color: #ff0000;
          right: 10px;
          top: 50%;
          margin-top: -1px;
          margin-left: -21px;
          transform: rotate(30deg);

      }
    }

    &-price {
      display: block;
      text-align: right;
      font-weight: 700;
      font-size: 45px;
      line-height: 125%;
      color: #000000;

      @include mq('desktop') {
        @include font-source-sans(24px, #000, 700, 24px);
      }
    }

    &-col {
      &:first-child {
        flex-grow: 1;
        padding-right: 10px;
      }
    }
  }
}
