body {
  position: relative;
  @include font-source-sans(15px, #000, 400, 22px);
  background-color: #fff;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.main {
  position: relative;
  width: calc(100% - 610px);
  min-height: 100vh;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.35);
}

.container {
  position: relative;
  @include container(925px, calc(100% - 30px));
  margin: 0;
}

.nowrap {
  white-space: nowrap;
}

.water_mater_2_page {
  .main {
    background: center / cover url(../images/water-bg.jpg) no-repeat;
    width: calc(100% - 80px);
    box-shadow: none;
    padding: 0 0 0 530px;
    height: 100vh;

    &:before {
      @include pseudo;
      z-index: 1;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(37, 47, 80, 0.5);
    }
  }
  .header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background: rgba(37, 47, 80, 0.6);
  }

  .header__link {
    border-bottom-color: rgba(255, 255, 255, 0.1);
  }

  .header__desc,
  .header__desc-link,
  .header__disclaimer {
    color: #ffffff;
  }

  .container {
    margin: 0 auto;
  }
}
