.banner(style="background-image:url(assets/images/banner.jpg)")
    .banner__text 
        .banner__title поверка счетчиков воды без снятия за #[span(class="nowrap") 30 минут]
        .banner__desc Стоимость: 350 грн
    