.card__wrapper
    .card__content 
        .card__slider-wrapper 
            .card__slider
                .card__item 
                    img(src="assets/images/counter1.png", alt="")
                .card__item 
                    img(src="assets/images/counter2.png", alt="")
                .card__item 
                    img(src="assets/images/counter3.png", alt="")
        .card__content-texts 
            p.card__title Одноструйный счетчик холодной воды Sensus ResidiaJet Q3 4/30 Ду 20
            p.card__price 700 грн.
            .card__content-btns
                a.counters__marker.is--active(href="#") 
                    +svg('market-icon')
                    span В корзину
                a.basket__click(href="#") Купить в 1 клик

    p.card__title Основные характеристики
    .card__table
        .card__row 
            .card__col Вид
            .card__col Механический
        .card__row 
            .card__col Тип конструкции
            .card__col Крыльчатый
        .card__row 
            .card__col Назначение
            .card__col Для холодной воды
        .card__row 
            .card__col Принцип действия
            .card__col Одноструйный
        .card__row 
            .card__col Подключение
            .card__col Муфтовое
        .card__row 
            .card__col Монтажное положение
            .card__col Верт. / Горизонт.
        .card__row 
            .card__col Страна регистрации бренда
            .card__col Украина
        .card__row 
            .card__col Страна производитель
            .card__col Украина
        .card__row 
            .card__col Гарантия
            .card__col 36 месяцев
    p.card__title Описание товара
    p.card__description Счетчик воды Sensus ResidiaJet Q3 4/30 Ду 20 предназначен для измерения рабочего потока жидкости (питьевая или техническая вода) температурой до +30оС в квартирах или загородных домах. Корпус водомера ResidiaJet Q3 4 Ду20 изготовлен из латуни по новой технологии, которая обеспечивает стойкость и долговечность металла. Особенностью тахометрических счетчиков серии ResidiaJet является оснащение защитой от воздействия стороннего магнитного поля соответствующего стандарту качества EN 14154-3. 