.check 
    .check__content 
        +title('Как мы выполняем поверку счетчика?')
        each item in ['Подключаем проливную установку к трубопроводу','Устанавливаем камеру на счетчик воды','Проводим измерения счетчика воды','Оформляем акт проверки вашего счетчика','Передаем данные о проверке в КП «Водоканал»']
            .check__item 
                +svg('check')
                p.check__item-text= item
        +yellow-btn('Заказать поверку')
    picture.check__banner
        source(srcset="assets/images/check-banner-mobile.jpg" media="(max-width: 767px)")
        img(src="assets/images/check-banner.jpg", alt="")