.confidence
    .confidence__items
        .confidence__item
            .confidence__item-icon 
                +svg('confidence1')
            p.confidence__item-desc Выполняем работы на договорной основе

        .confidence__item
            .confidence__item-icon 
                +svg('confidence2')
            p.confidence__item-desc Работа занимает #[span(class="nowrap") не более] 20 мин.

        .confidence__item
            .confidence__item-icon 
                +svg('confidence3')
            p.confidence__item-desc Передаем все данные в КП «Водоканал»

        .confidence__item
            .confidence__item-icon 
                +svg('confidence4')
            p.confidence__item-desc Точность поверки составляет 99.9%

    .confidence__text
        +title('Почему стоит доверить это нам')
        p.confidence__desc Компания «Е-инжиниринг КО» является уполномоченной организацией по проведению поверок счетчиков воды. Наши менеджеры максимально быстро сориентируют Вас по всем этапам процедури, а наши специалисты выполнят поверку на високоточном сертифицированном оборудовании
        a.confidence__link(href="#") Свидетельство про уполномочия № П-12-2019 от 25.02.2019