.counters
    .counters__item 
        .counters__heading 
            p.counters__title Счетчик холодной воды
            p.counters__name Sensus ResidiaJet Q3 4/30 Ду 20
        img.counters__image(src="assets/images/counter1.png", alt="")
        .counters__indikator 
            +svg('cold')
        .counters__btns 
            a.counters__marker(href="#") 
                +svg('market-icon')
                span В корзину
            p.counters__price 2 370 грн.
    
    .counters__item 
        .counters__heading 
            p.counters__title Одностр. счетчик горячей воды
            p.counters__name Sensus ResidiaJet Q3 4/90 Ду 20
        img.counters__image(src="assets/images/counter2.png", alt="")
        .counters__indikator 
            +svg('hot')
        .counters__btns 
            a.counters__marker(href="#") 
                +svg('market-icon')
                span В корзину
            p.counters__price 620 грн.

    .counters__item 
        .counters__heading 
            p.counters__title Счетчик холодной воды
            p.counters__name Gross ETW-UA 15Г/110 Ду 15
        img.counters__image(src="assets/images/counter3.png", alt="")
        .counters__indikator 
            +svg('cold')
        .counters__btns 
            a.counters__marker(href="#") 
                +svg('market-icon')
                span В корзину
            p.counters__price 900 грн.
    
    .counters__item 
        .counters__heading 
            p.counters__title Счетчик холодной воды
            p.counters__name Gross ETW-UA 15Г/110 Ду 15
        img.counters__image(src="assets/images/counter4.png", alt="")
        .counters__indikator 
            +svg('cold')
        .counters__btns 
            a.counters__marker(href="#") 
                +svg('market-icon')
                span В корзину
            p.counters__price 370 грн.
    
    .counters__item 
        .counters__heading 
            p.counters__title Счетчик холодной воды
            p.counters__name Gross ETW-UA 15Г/110 Ду 15
        img.counters__image(src="assets/images/counter5.png", alt="")
        .counters__indikator 
            +svg('cold')
        .counters__btns 
            a.counters__marker(href="#") 
                +svg('market-icon')
                span В корзину
            p.counters__price 620 грн.
    
    .counters__item 
        .counters__heading 
            p.counters__title Счетчик горячей воды
            p.counters__name Gross ETW-UA 15Г/110 Ду 15
        img.counters__image(src="assets/images/counter6.png", alt="")
        .counters__indikator 
            +svg('hot')
        .counters__btns 
            a.counters__marker(href="#") 
                +svg('market-icon')
                span В корзину
            p.counters__price 860 грн.
    
    .counters__item 
        .counters__heading 
            p.counters__title Счетчик холодной воды
            p.counters__name Gross ETW-UA 15Г/110 Ду 15
        img.counters__image(src="assets/images/counter7.png", alt="")
        .counters__indikator 
            +svg('cold')
        .counters__btns 
            a.counters__marker.is--disabled(href="#") 
                +svg('market-icon')
                span В корзину
            p.counters__price 370 грн.
    
    .counters__item 
        .counters__heading 
            p.counters__title Счетчик горячей воды
            p.counters__name Gross ETW-UA 15Г/110 Ду 15
        img.counters__image(src="assets/images/counter8.png", alt="")
        .counters__indikator 
            +svg('hot')
        .counters__btns 
            a.counters__marker.is--active(href="#") 
                +svg('market-icon')
                span В корзину
            p.counters__price 620 грн.
    
    .counters__item 
        .counters__heading 
            p.counters__title Счетчик холодной воды
            p.counters__name Gross ETW-UA 15Г/110 Ду 15
        img.counters__image(src="assets/images/counter9.png", alt="")
        .counters__indikator 
            +svg('cold')
        .counters__btns 
            a.counters__marker(href="#") 
                +svg('market-icon')
                span В корзину
            p.counters__price 900 грн.
    
    a.counters__more
        span Показать еще 6
        +svg('counters__more')