.faq
    +title('Часто задаваемые вопросы')
    .faq__content 
        .faq__item
            .faq__item-heading Зачем нужна поверка счетчика холодной воды
                .faq__item-check 
                    span 
                    span
            p.faq__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        
        .faq__item
            .faq__item-heading Unde ut perspiciatis unde omnis iste natus error sit voluptatem accusantium?
                .faq__item-check 
                    span 
                    span
            p.faq__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        
        .faq__item
            .faq__item-heading Ut enim ad minima veniam, quis nostrum exercitationem ullam?
                .faq__item-check 
                    span 
                    span
            p.faq__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        
        .faq__item
            .faq__item-heading Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam?
                .faq__item-check 
                    span 
                    span
            p.faq__item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.