.filters 
    .filters__wrapper
        .filters__item 
            label.filters__radio
                input(type="radio", name="filter")
                b 
            p Холодная вода
        .filters__item 
            label.filters__radio
                input(type="radio", name="filter")
                b 
            p Горячая вода
        .filters__item 
            label.filters__radio
                input(type="radio", name="filter")
                b 
            p Все счетчики
    .filters__sort
        span Параметры сортировки
        +svg('sort')