footer.footer
    ul.footer__menu
        li.footer__item
            a.footer__link(href="#") 
                +svg('home')
        
        li.footer__item
            a.footer__link#search-btn(href="#") 
                +svg('search')
        
        li.footer__item
            a.footer__link.market-icon(href="#") 
                +svg('market')
                span.market-icon-count 
                    span 2
        
        li.footer__item
            a.footer__link#message-btn(href="#") 
                +svg('mail')
    
    ul.footer__social   
        li.footer__social-item 
            a.footer__social-link(href="#") 
                +svg('facebook')
        
        li.footer__social-item 
            a.footer__social-link(href="#") 
                +svg('utube')