.form__wrapper
    p.form__title Оформить заявку на услугу
    p.form__subtitle Наш менеджер перезвонит вам в течение 5 минут
    form.form
        input.form__input(type="text" placeholder="Ваш номер телефона")
        input.form__input(type="text" placeholder="Как к вам обращаться")
        button.form__btn Оформить заявку