.info 
    +title('Поверка счетчика воды без снятия в Киеве')
    p Компания “Е-Инжиниринг Ко” имеет собственный сервисно-метрологический центр и предоставляет услуги по выполнению государственной метрологической поверки и ремонта счетчиков воды, диаметрами от 15 до 20 мм различных производителей (Itron, Сенсей групп, Landys&Gyr, Kamstrup, Engelmann, Sensus и др.).
    h3 Цены на поверку счетчиков учета тепла зависят от диаметра и типа прибора, а также того, в каком пакете заказывается услуга:
    p Базовом – включает только поверку счетчика (демонтаж, доставку и монтаж выполняет сам владелец счетчика); #[span(style="display:block") Полном – включает выезд нашего специалиста на объект, демонтаж, доставку, поверку, а также обратную доставку и монтаж счетчика.]
    p Вопросы, связанные с поверкой средств измерительной техники (СИТ), в том числе и теплосчетчиков, регулируются Законом Украины «О метрологии и метрологической деятельности». В соответствии с данным законом, поверкой средств измерительной техники (СИТ) является совокупность операций, включающих проверку и маркирование и/или выдачу документа о поверке СИТ, которые устанавливают и подтверждают, что указанный прибор соответствует установленным нормам
    h3 Существует несколько типов поверки:
    p #[b(class="") Первичная] – выполняется заводом-изготовителем при выпуске СИТ из производства;
    p #[b(class="") Периодическая] – проводится на протяжении периода эксплуатации СИТ через установленные интервалы времени (межповерочные интервалы);
    p #[b(class="") Внеочередная] – проводится в случае появления необходимости убедиться в правильности работы СИТ (достоверности показаний СИТ), при повреждении метрологических пломб СИТ или утраты свидетельства о поверке, а также в случае выхода СИТ из строя (к примеру, по причине разряда батареи питания в счетчике тепла);
    p #[b(class="") Экспертная] – проводится, в случае появления сомнений в показаниях СИТ.
    p Межповерочный интервал зависит от конкретного типа СИТ. Так, к примеру, поверка теплосчетчиков, счетчиков холодной и горячей воды должна выполняться раз в 4-ре года; бытовых счетчиков электроэнергии – раз в 16 лет, бытовых счетчиков газа – раз в 5-ть или 8 лет; промышленных счетчиков газа – раз в два года.
    p Дата проведения первичной поверки счетчика обязательно должна быть указана в соответствующем разделе его технического паспорта вместе с оттиском клейма. Здесь стоит отметить, что в паспортах счетчиков отечественного производства ставится оттиск клейма государственного поверителя, а в паспортах европейских счетчиков – отметка лаборатории завода-изготовителя, так как служба госповерителей в странах Европейского союза отсутствует.
    p Факт проведения периодической поверки должен быть подтвержден наличием «Свидетельства о поверке законодательно регулируемого средства измерительной техники», оформленного на бланке уполномоченной метрологической организации. При этом, наличие клейма госповерителя в техническом паспорте прибора не является обязательным.

