.page_title__wrapper
    h2.page_title современные технологии экономии
    .page_title__special
        .page_title__special-col
            .page_title__special-title Спецпредложение
            .page_title__special-desc Поверка счетчика без снятия за 30 минут
        .page_title__special-col
            .page_title__special-sileprice 400₴
            .page_title__special-price 300₴