div#modal-1.modal(style="display: none;") 
    form.modal-content
        .title Оформить заявку на услугу
        input.form__input(type="text" placeholder="Ваш номер телефона")
        button.form__btn Оформить заявку


div#snx.modal(style="display: none;") 
    form.modal-content
        .title Ваша заявка успешно отправлена!

.desktop-search
    .mobile-menu__search
        input(type="text", name="search", placeholder="Поиск по сайту").mobile-menu__search-input
        +svg('search')
    .desktop-search__content
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nostrum officia exercitationem quibusdam eos reprehenderit assumenda quo magnam ex perferendis quam illum itaque culpa sint cumque, corrupti libero veniam quod.