.reviews
    +title('Отзывы о нас')
    .reviews__slider
        -for (i=0;i<5;i++)
            .reviews__item-wrapper
                .reviews__item
                    img.reviews__icon(src="assets/images/reviews-icon.png", alt="")
                    p.reviews__name Михаил Юрьевич
                    p.reviews__adress г. Киев, ул. Антоновича 64
                    p.reviews__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris