.menu-item(data-id="4")
    .container
        .services
            .services__item(style="background-image:url(assets/images/service1.png)")
                .services__price от 450 грн
                p.services__desc Поверка счетчиков воды без снятия
                .services__fire
                    +svg('fire')
            
            .services__item(style="background-image:url(assets/images/service2.png)")
                .services__price от 450 грн
                p.services__desc Поверка счетчиков тепла
                .services__fire
                    +svg('fire')
            
            .services__item(style="background-image:url(assets/images/service3.png)")
                .services__price от 450 грн
                p.services__desc Установка счетчиков тепла
                .services__fire
                    +svg('fire')
            

            .services__item(style="background-image:url(assets/images/service4.png)")
                .services__price от 450 грн
                p.services__desc Установка счетчиков воды
                .services__fire
                    +svg('fire')
            
            .services__item(style="background-image:url(assets/images/service5.png)")
                .services__price от 450 грн
                p.services__desc Разработка проекта установки
                .services__fire
                    +svg('fire')

            .services__item(style="background-image:url(assets/images/service6.png)")
                .services__price от 450 грн
                p.services__desc Сантехнические услуги
                .services__fire
                    +svg('fire')

            .services__item(style="background-image:url(assets/images/service7.png)")
                .services__price от 450 грн
                p.services__desc Согласование в ТеплоЭнерго с опломбированием
                .services__fire
                    +svg('fire')