.services-slider__wrapper
    +title('Наши услуги')
    
    .services-slider
        .services-slider__item 
            .services__item(style="background-image:url(assets/images/service2.png)")
                .services__price от 450 грн
                p.services__desc Поверка счетчиков тепла
                .services__fire
                    +svg('fire')
        .services-slider__item 
            .services__item(style="background-image:url(assets/images/service3.png)")
                .services__price от 450 грн
                p.services__desc Поверка счетчиков тепла
                .services__fire
                    +svg('fire')
        .services-slider__item 
            .services__item(style="background-image:url(assets/images/service1.png)")
                .services__price от 450 грн
                p.services__desc Поверка счетчиков тепла
                .services__fire
                    +svg('fire')
        .services-slider__item 
            .services__item(style="background-image:url(assets/images/service2.png)")
                .services__price от 450 грн
                p.services__desc Поверка счетчиков тепла
                .services__fire
                    +svg('fire')
        .services-slider__item 
            .services__item(style="background-image:url(assets/images/service3.png)")
                .services__price от 450 грн
                p.services__desc Поверка счетчиков тепла
                .services__fire
                    +svg('fire')
        .services-slider__item 
            .services__item(style="background-image:url(assets/images/service1.png)")
                .services__price от 450 грн
                p.services__desc Поверка счетчиков тепла
                .services__fire
                    +svg('fire')
    
    .services-slider__tools
        .services-slider__arrow.services-slider__prev
            +svg('prev')
        .services-slider__dots
        .services-slider__arrow.services-slider__next
            +svg('next')